C#高级编程(第7版)源代码/502259 Code CH43/WCF/RoomReservation/RoomReservationClient/Service References/RoomReservationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.WCF" />
  <xs:element name="ReserveRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.WCF" minOccurs="0" name="roomReservation" nillable="true" type="q1:RoomReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserveRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.WCF" minOccurs="0" name="reservationRequest" nillable="true" type="q2:RoomReservationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wrox.ProCSharp.WCF" minOccurs="0" name="GetRoomReservationsResult" nillable="true" type="q3:ArrayOfRoomReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>