C#高级编程(第7版)源代码/502259 Code CH44/Code/07_WorkflowsAsServices/ClientApp/Service References/PropertyService/PropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://pro-csharp/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pro-csharp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pro-csharp/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PropertyService?xsd=xsd0" namespace="http://pro-csharp/" />
      <xsd:import schemaLocation="http://localhost:8080/PropertyService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProperty_UploadPropertyInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPropertyInformation" />
  </wsdl:message>
  <wsdl:message name="IProperty_UploadPropertyInformation_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q1:guid" />
  </wsdl:message>
  <wsdl:message name="IProperty_UploadRoomInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadRoomInformation" />
  </wsdl:message>
  <wsdl:message name="IProperty_DetailsComplete_InputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="guid" element="q2:guid" />
  </wsdl:message>
  <wsdl:portType name="IProperty">
    <wsdl:operation name="UploadPropertyInformation">
      <wsdl:input wsam:Action="http://pro-csharp/IProperty/UploadPropertyInformation" message="tns:IProperty_UploadPropertyInformation_InputMessage" />
      <wsdl:output wsam:Action="http://pro-csharp/IProperty/UploadPropertyInformationResponse" message="tns:IProperty_UploadPropertyInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadRoomInformation">
      <wsdl:input wsam:Action="http://pro-csharp/IProperty/UploadRoomInformation" message="tns:IProperty_UploadRoomInformation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetailsComplete">
      <wsdl:input wsam:Action="http://pro-csharp/IProperty/DetailsComplete" message="tns:IProperty_DetailsComplete_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>